body {
  font-family: sans-serif;
  color: darkslategray;
  position: relative;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: #39c9bb;
  font-size: 1.25rem;
  cursor: pointer;
}

select, label, input, textarea {
  font-size: 1.15rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.navbar .link {
  padding: .25em 0;
}

.main-content {
  padding-bottom: 50px;
}

.content {
  margin: 1em auto;
  max-width: 780px;
}

.post {
  margin: .5em;
  margin-left: .5em;
  transition: all .25s;
  padding: .5em;
}

.post:hover {
  margin-left: -.5em;
  background-color: rgba(255,255,255,.5);
}

.post:hover .post-title {
  color: rgba(0,0,0,1);
}

.post-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: rgba(0,0,0,.75);
}

.post-timestamp {
  color: #b31800; 
}

#swirl-block {
 position: absolute;
 top: -150px;
 left: -100px;
 z-index:-2; 
 width: 100%;
 height: auto;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}
