<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Julia Soper || development</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    <script src="{{ url_for('static', filename='js/slow-draw.js') }}"></script>
  </head>
  <body class={{title}}>
    <nav class="navbar content"> 
      <div class="nav-links">
        <a class="link" href="{{ url_for('main.index') }}">Home</a>
        <a class="link" href="{{ url_for('main.about') }}">About</a>
        <a class="link" href="{{ url_for('main.search') }}">Search</a>
      </div>
    </nav> 
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="content main-content">
    {% block content %}{% endblock %}
    </div>
    <footer class="footer">
      <div class="content">
        {% if current_user.is_anonymous %}
        <a class="hide" href="{{ url_for('auth.login') }}">login</a>
        {% else %}
        <a href="{{ url_for('main.user', username=current_user.username) }}">profile</a>
        <a href="{{ url_for('main.create_post') }}">write</a>
        <a href="{{ url_for('auth.logout') }}">logout</a>
        {% endif %}  
        <p>contact</p>
        <p>copyright 2018</p>
      </div>
    </footer>
  </body>
</html>
