{% extends "base.html" %}

{% block content %}
  <h1>Edit Post</h1>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.body.label }}<br>
      {{ form.body(cols=50, rows=4) }}<br>
      {% for error in form.body.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.month.label }}<br>
      {{ form.month() }}<br>
      {% for error in form.month.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.date.label }}<br>
      {{ form.date() }}<br>
      {% for error in form.date.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}
